<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-hMKJHjEeNscMzbTR2qq6KlQmzwLVrvA</string>
	<key>GCM_SENDER_ID</key>
	<string>212348335933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gnuao.jti</string>
	<key>PROJECT_ID</key>
	<string>todolist-59c0c</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-59c0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212348335933:ios:0e5537b299e53a7a6ab754</string>
</dict>
</plist>